Repository scania-digital-design-system/sdds, pull requests merged in 2021-02, with the labels that each got.

#62 AB#291 Feature- buttons
  components/src/components/button/button.scss
  components/src/components/button/button.stories.js
  components/src/components/theme/theme.tsx
  theme/light/src/_mixins.scss
  theme/light/src/components/_button.scss
Labels: Feature

#65 AB#296 Radio-button style
  components/src/components/radio-button/radio-button.scss
  components/src/components/radio-button/radio-button.stories.js
  components/src/components/theme/theme.scss
  theme/light/src/components/_radio-button.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature, Theme

#66 AB#295 checkboxes styling
  components/src/components/checkbox/checkbox.scss
  components/src/components/checkbox/checkbox.stories.js
  components/src/components/theme/theme.scss
  theme/light/src/components/_checkbox.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature, Theme

#69 Feature/link
  components/src/components/button/button.scss
  components/src/components/link/link.scss
  components/src/components/link/link.stories.js
  components/src/components/theme/theme.scss
  theme/light/src/components/_link.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature, Theme

#70 AB#367 Feature/migration helpers
  MIGRATION.md
  components/package-lock.json
  components/src/patterns/footer/footer.scss
  demo/angular/package-lock.json
  demo/angular/package.json
  demo/angular/src/app/app.component.html
  demo/angular/src/app/app.component.ts
  demo/angular/src/app/home/home.component.html
  demo/angular/src/app/info/subpages/modal.component.ts
  demo/angular/src/index.html
  demo/angular/src/styles.css
  theme/light/gulpfile.babel.js
  theme/light/src/patterns/c-navigation.scss
  theme/light/src/utilities/global-style.css
Labels: Feature

#67 AB#292 Feature/textfield component
  components/.storybook/preview.js
  components/package-lock.json
  components/package.json
  components/src/components/divider/divider.scss
  components/src/components/divider/divider.stories.js
  components/src/components/textfield/textfield.scss
  components/src/components/textfield/textfield.stories.js
  components/src/components/textfield/textfield.tsx
  components/src/components/theme/textfield.stories.js
  components/src/components/theme/theme.scss
  package.json
  theme/core/package-lock.json
  theme/light/src/components/_textfields.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature, Theme

#74 AB#301 - Feature/divider component
  components/src/components/divider/divider.scss
  components/src/components/divider/divider.stories.js
  theme/light/src/components/_divider.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature

#76 Lerna update all package version
  MIGRATION.md
  components/package-lock.json
  components/package.json
  components/src/components/link/link.scss
  demo/angular/package-lock.json
  demo/angular/package.json
  demo/angular/src/app/info/info-routing.module.ts
  demo/angular/src/app/info/subpages/table.component.html
  demo/angular/src/app/items.ts
  package.json
  theme/core/colour/package-lock.json
  theme/core/colour/package.json
  theme/core/grid/package-lock.json
  theme/core/grid/package.json
  theme/core/package-lock.json
  theme/core/package.json
  theme/core/typography/package-lock.json
  theme/core/typography/package.json
  theme/light/package-lock.json
  theme/light/package.json
  theme/light/src/patterns/c-navigation.scss
Labels: Feature

#77 AB#380 - Feature/textfield options
  components/package.json
  components/src/components/divider/divider.stories.js
  components/src/components/icon/readme.md
  components/src/components/modal/readme.md
  components/src/components/textfield/readme.md
  components/src/components/textfield/textfield.scss
  components/src/components/textfield/textfield.stories.js
  components/src/components/textfield/textfield.tsx
  components/src/components/theme/readme.md
  components/src/patterns/cookie/readme.md
  components/src/patterns/footer/readme.md
  components/src/patterns/header/readme.md
  package-lock.json
  package.json
  readme.md
  theme/light/src/components/_textfields.scss
Labels: Component, Feature

#78 AB#300 Add accordion styles
  components/src/components/accordion/accordion-item.tsx
  components/src/components/accordion/accordion.scss
  components/src/components/accordion/accordion.stories.js
  components/src/components/accordion/accordion.tsx
  components/src/components/accordion/readme.md
  components/src/components/theme/theme.scss
  components/stencil.config.ts
  theme/light/src/components/_accordion.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature, Theme

#79 AB#297 Feature/toggle switch
  components/src/components/theme/theme.scss
  components/src/components/toggle/toggle.scss
  components/src/components/toggle/toggle.stories.js
  theme/light/src/components/_toggle.scss
  theme/light/src/patterns/c-theme.scss
Labels: Component, Feature, Theme

#72 Feature/button test
  components/src/components/button/button-component.tsx
  components/src/components/button/button.scss
  components/src/components/button/button.stories.js
  components/src/components/hello-world/hello-world.tsx
Labels: Component
