Repository scania-digital-design-system/sdds, pull requests merged in 2023-03, with the labels that each got.

#868 fix(button): standardise order of controls in Storybook
  tegel/src/components/button/button-native.stories.tsx
  tegel/src/components/button/button-webcomponent.stories.tsx
  tegel/src/components/button/button.scss
Labels: 🚀 improvement, 🧱 @scania/tegel

#869 fix(checkbox): standardise order of controls in Storybook
  tegel/src/components/checkbox/checkbox.stories.tsx
  tegel/src/components/checkbox/sdds-checkbox.stories.tsx
Labels: 🚀 improvement, 🧱 @scania/tegel

#870 fix(card): standardise order of controls in Storybook
  tegel/src/components/card/card.stories.tsx
  tegel/src/components/card/sdds-card.scss
  tegel/src/components/card/sdds-card.stories.tsx
Labels: 🚀 improvement, 🧱 @scania/tegel

#860 build(stencil): upgrades to stencil 3
  tegel/package-lock.json
  tegel/package.json
  tegel/stencil.config.ts
Labels: 🚀 improvement, 👷🏻build👷🏻‍♀️

#862 fix(datetime): event name update
  tegel/src/components/datetime/datetime.stories.tsx
  tegel/src/components/datetime/datetime.tsx
  tegel/src/components/datetime/readme.md
Labels: 🚀 improvement, 🔧 component, 🧱 @scania/tegel

#841 feat(popover-canvas): make unopinionated
  tegel/src/components/popover-canvas/popover-canvas.scss
  tegel/src/components/popover-canvas/popover-canvas.stories.tsx
  tegel/src/components/popover-canvas/popover-canvas.tsx
  tegel/src/components/popover-canvas/readme.md
Labels: 🚨 breaking, 🔧 component

#871 fix(datetime): standardise order of controls in Storybook
  tegel/src/components/datetime/datetime.stories.tsx
  tegel/src/components/footer/webcomponent/sdds-footer-link/readme.md
Labels: 🚀 improvement, 🧱 @scania/tegel

#898 fix(link): standardise order of controls in Storybook
  tegel/src/components/link/link.stories.tsx
  tegel/src/components/link/sdds-link.stories.tsx
Labels: 🧱 @scania/tegel

#877 fix(chips): standardise order of controls in Storybook
  tegel/src/components/chips/chips.stories.tsx
Labels: 🧱 @scania/tegel

#874 fix(dropdown): event names update
  .eslintrc.json
  components/src/components/dropdown/dropdown-option.tsx
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.tsx
  tegel/src/components/dropdown/dropdown-option/dropdown-option.tsx
  tegel/src/components/dropdown/dropdown-option/readme.md
  tegel/src/components/dropdown/dropdown.tsx
  tegel/src/components/dropdown/readme.md
Labels: 🪲 bug, 🚀 improvement, 🔧 component, 🦮 accessibility, 🧱 @scania/tegel

#897 fix(footer): standardise order of controls in Storybook
  tegel/src/components/footer/footer.stories.tsx
  tegel/src/components/footer/webcomponent/sdds-footer.stories.tsx
Labels: 🧱 @scania/tegel

#878 docs(event): updated event docs
  tegel/readme.md
  tegel/src/stories/Events/Events.stories.mdx
Labels: 📚 docs

#899 fix(message): standardise order of controls in Storybook
  tegel/src/components/message/message.scss
  tegel/src/components/message/message.stories.tsx
  tegel/src/components/message/sdds-message.stories.tsx
Labels: 🧱 @scania/tegel

#900 fix(modal): standardise order of controls in Storybook
  tegel/src/components/modal/modal-native.stories.tsx
  tegel/src/components/modal/modal-webcomponent.stories.tsx
Labels: 🧱 @scania/tegel

#903 fix(slider): standardise order of controls in Storybook
  tegel/src/components/slider/slider.stories.tsx
Labels: 🧱 @scania/tegel

#904 fix(button): double text prop in story
  tegel/src/components/button/button-webcomponent.stories.tsx
Labels: 🪲 bug, 🔧 component, 📚 docs, 🧱 @scania/tegel

#907 fix(spinner): standardise order of controls in Storybook
  tegel/src/components/spinner/spinner.stories.tsx
Labels: 🧱 @scania/tegel

#902 fix(popover): update default values in Storybook
  tegel/src/components/popover-canvas/popover-canvas.stories.tsx
  tegel/src/components/popover-menu/popover-menu-icons.stories.tsx
  tegel/src/components/popover-menu/popover-menu.stories.tsx
Labels: 🧱 @scania/tegel

#901 fix(radio button): standardise order of controls in Storybook
  tegel/src/components/radio-button/radio-button-component.stories.tsx
  tegel/src/components/radio-button/radio-button.stories.tsx
  tegel/src/components/radio-button/radio-button.tsx
Labels: 🧱 @scania/tegel

#908 fix(stepper): standardise order of controls in Storybook
  tegel/src/components/stepper/sdds-stepper.stories.ts
  tegel/src/components/stepper/stepper.stories.tsx
Labels: 🧱 @scania/tegel

#882 fix(data table): standardise order of controls in Storybook
  tegel/src/components/data-table/native-table.stories.tsx
  tegel/src/components/data-table/table-component-basic.stories.tsx
  tegel/src/components/data-table/table-component-batch-actions.stories.tsx
  tegel/src/components/data-table/table-component-bodydata.stories.tsx
  tegel/src/components/data-table/table-component-custom-width.stories.tsx
  tegel/src/components/data-table/table-component-event-listeners.stories.tsx
  tegel/src/components/data-table/table-component-expandable-rows.stories.tsx
  tegel/src/components/data-table/table-component-filtering.stories.tsx
  tegel/src/components/data-table/table-component-multiselect.stories.tsx
  tegel/src/components/data-table/table-component-pagination.stories.tsx
  tegel/src/components/data-table/table-component-sorting.stories.tsx
Labels: 🧱 @scania/tegel

#912 fix(chip): removed class from sdds-icon
  tegel/src/components/chips/chips.scss
  tegel/src/components/chips/chips.stories.tsx
Labels: 🪲 bug

#861 fix(textfield/textarea): scope css
  tegel/src/components/textarea/textarea-vars.scss
  tegel/src/components/textarea/textarea.scss
  tegel/src/components/textarea/textarea.tsx
  tegel/src/components/textfield/textfield.scss
  tegel/src/components/textfield/textfield.tsx
  tegel/src/global/global.scss
Labels: 🚀 improvement

#852 fix(modal): fix overflow/z-index issue within modal
  components/src/components/modal/_modal-core.scss
Labels: 🪲 bug, 📦 @scania/components

#914 fix(sdds-breadcrumb): import/class/a11y fixes and renamed item
  tegel/src/components/breadcrumb/breadcrumb.scss
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/readme.md
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/sdds-breadcrumb-link.scss
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/sdds-breadcrumb-link.tsx
  tegel/src/components/breadcrumb/sdds-breadcrumb.scss
  tegel/src/components/breadcrumb/sdds-breadcrumb.stories.tsx
  tegel/src/components/breadcrumb/sdds-breadcrumb.tsx
  tegel/src/global/global.scss
Labels: 🪲 bug, 🔧 component

#850 feat(events - textfield/textarea/modal): updated events
  components/src/components/modal/modal.tsx
  components/src/components/modal/readme.md
  components/src/components/textarea/readme.md
  components/src/components/textarea/textarea.tsx
  components/src/components/textfield/readme.md
  components/src/components/textfield/textfield.tsx
Labels: 🪲 bug, 📦 @scania/components

#917 fix: align default values to props
  tegel/src/components/accordion/accordion.stories.tsx
  tegel/src/components/badge/badge.stories.tsx
  tegel/src/components/banner/sdds-banner.stories.tsx
  tegel/src/components/button/button-webcomponent.stories.tsx
  tegel/src/components/card/sdds-card.stories.tsx
  tegel/src/components/data-table/table-component-basic.stories.tsx
  tegel/src/components/data-table/table-component-batch-actions.stories.tsx
  tegel/src/components/data-table/table-component-custom-width.stories.tsx
  tegel/src/components/data-table/table-component-event-listeners.stories.tsx
  tegel/src/components/data-table/table-component-expandable-rows.stories.tsx
  tegel/src/components/data-table/table-component-filtering.stories.tsx
  tegel/src/components/data-table/table-component-multiselect.stories.tsx
  tegel/src/components/data-table/table-component-pagination.stories.tsx
  tegel/src/components/data-table/table-component-sorting.stories.tsx
  tegel/src/components/datetime/datetime.stories.tsx
  tegel/src/components/footer/webcomponent/sdds-footer.stories.tsx
  tegel/src/components/message/sdds-message.stories.tsx
  tegel/src/components/modal/modal-webcomponent.stories.tsx
  tegel/src/components/popover-canvas/popover-canvas.stories.tsx
  tegel/src/components/popover-menu/popover-menu-icons.stories.tsx
  tegel/src/components/popover-menu/popover-menu.stories.tsx
  tegel/src/components/radio-button/radio-button-component.stories.tsx
  tegel/src/components/slider/readme.md
  tegel/src/components/slider/slider.stories.tsx
  tegel/src/components/slider/slider.tsx
  tegel/src/components/spinner/spinner.stories.tsx
Labels: 🧱 @scania/tegel

#918 fix(slider): refactor control for scrubber size
  tegel/src/components/slider/readme.md
  tegel/src/components/slider/slider.stories.tsx
  tegel/src/components/slider/slider.tsx
Labels: 🧱 @scania/tegel

#911 fix(tabs): standardise order of controls in Storybook
  tegel/src/components/tabs/inline-tabs-default/inline-tabs.stories.tsx
  tegel/src/components/tabs/inline-tabs-fullbleed/inline-tabs-fullbleed.stories.tsx
  tegel/src/components/tabs/navigation-tabs/navigation-tabs.stories.tsx
Labels: 🧱 @scania/tegel

#913 fix(textarea): standardise order of controls in Storybook
  tegel/src/components/textarea/textarea.stories.tsx
Labels: 🧱 @scania/tegel

#916 fix(textfield): standardise order of controls in Storybook
  tegel/src/components/textfield/textfield.stories.tsx
Labels: 🧱 @scania/tegel

#844 fix(table): refactor event names
  tegel/src/components/data-table/table-body-cell/table-body-cell.tsx
  tegel/src/components/data-table/table-body-row-expandable/readme.md
  tegel/src/components/data-table/table-body-row-expandable/table-body-row-expandable.tsx
  tegel/src/components/data-table/table-body-row/readme.md
  tegel/src/components/data-table/table-body-row/table-body-row.tsx
  tegel/src/components/data-table/table-body/readme.md
  tegel/src/components/data-table/table-body/table-body.tsx
  tegel/src/components/data-table/table-component-event-listeners.stories.tsx
  tegel/src/components/data-table/table-footer/readme.md
  tegel/src/components/data-table/table-footer/table-footer.tsx
  tegel/src/components/data-table/table-header-cell/readme.md
  tegel/src/components/data-table/table-header-cell/table-header-cell.tsx
  tegel/src/components/data-table/table-header/readme.md
  tegel/src/components/data-table/table-header/table-header.tsx
  tegel/src/components/data-table/table-toolbar/readme.md
  tegel/src/components/data-table/table-toolbar/table-toolbar.tsx
  tegel/src/components/data-table/table/readme.md
  tegel/src/components/data-table/table/table.tsx
Labels: 🚀 improvement, 🚨 breaking

#922 fix(accordion): remove unused divider prop
  tegel/src/components/accordion/accordion.tsx
  tegel/src/components/accordion/readme.md
Labels: 🧱 @scania/tegel

#920 fix(dropdown): standardise order of controls in Storybook
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.stories.tsx
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.tsx
  tegel/src/components/dropdown/dropdown-filter/readme.md
  tegel/src/components/dropdown/dropdown-native.stories.tsx
  tegel/src/components/dropdown/dropdown-wc-default.stories.tsx
  tegel/src/components/dropdown/dropdown-wc-multiselect.stories.tsx
  tegel/src/components/dropdown/dropdown.tsx
  tegel/src/components/dropdown/readme.md
Labels: 🧱 @scania/tegel

#923 fix(divider): standardise order of controls in Storybook
  tegel/src/components/divider/divider.stories.tsx
Labels: 🧱 @scania/tegel

#925 fix(dropdown): add modeVariant control
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.stories.tsx
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.tsx
  tegel/src/components/dropdown/dropdown-filter/readme.md
  tegel/src/components/dropdown/dropdown-native.stories.tsx
  tegel/src/components/dropdown/dropdown-vars.scss
  tegel/src/components/dropdown/dropdown-wc-multiselect.stories.tsx
  tegel/src/components/dropdown/dropdown.tsx
  tegel/src/components/dropdown/readme.md
Labels: 🧱 @scania/tegel

#926 fix(header): standardise order of controls in Storybook
  tegel/src/components/header/header-all.stories.tsx
  tegel/src/components/header/header-default.stories.tsx
  tegel/src/components/header/header-inline.stories.tsx
  tegel/src/components/header/header-search.stories.tsx
  tegel/src/components/header/header-toolbar.stories.tsx
Labels: 🧱 @scania/tegel

#928 fix(toast): standardise order of controls in Storybook
  tegel/src/components/toast/sdds-toast.stories.tsx
  tegel/src/components/toast/toast.stories.tsx
Labels: 🧱 @scania/tegel

#929 fix(toggle): standardise order of controls in Storybook
  tegel/src/components/toggle/sdds-toggle.stories.tsx
  tegel/src/components/toggle/toggle.stories.tsx
Labels: 🧱 @scania/tegel

#931 fix(tooltip): standardise order of controls in Storybook
  tegel/src/components/tooltip/tooltip.stories.tsx
Labels: 🧱 @scania/tegel

#927 fix(DTS-703): textarea error state icon
  components/src/components/textarea/textarea.scss
  components/src/components/textarea/textarea.tsx
  components/src/components/textfield/textfield.tsx
Labels: 🪲 bug, 📦 @scania/components

#879 feat(divider): create webcomponent
  tegel/src/components/divider/divider-component.scss
  tegel/src/components/divider/divider-webcomponent.stories.tsx
  tegel/src/components/divider/divider.spec.ts
  tegel/src/components/divider/divider.tsx
  tegel/src/components/divider/readme.md
  tegel/src/global/global.scss
Labels: 🔧 component, 🧱 @scania/tegel

#936 fix(sdds-toggle): added a name to the default slot
  tegel/src/components/toggle/sdds-toggle.stories.tsx
  tegel/src/components/toggle/sdds-toggle.tsx
Labels: 🪲 bug

#905 docs/code conventions
  .github/CODE_STYLE.md
  tegel/readme.md
Labels: 📚 docs

#937 fix(tabs): added a name to the default slot
  tegel/src/components/tabs/folder-tabs/folder-tabs-button/sdds-folder-tabs-button.tsx
  tegel/src/components/tabs/folder-tabs/folder-tabs-link/sdds-folder-tabs-link.tsx
  tegel/src/components/tabs/folder-tabs/folder-tabs.stories.tsx
  tegel/src/components/tabs/inline-tabs/inline-tabs-button/sdds-inline-tabs-button.tsx
  tegel/src/components/tabs/inline-tabs/inline-tabs-link/sdds-inline-tabs-link.tsx
  tegel/src/components/tabs/inline-tabs/inline-tabs.stories.tsx
  tegel/src/components/tabs/navigation-tabs/navigation-tabs-button/sdds-navigation-tabs-button.tsx
  tegel/src/components/tabs/navigation-tabs/navigation-tabs-link/sdds-navigation-tabs-link.tsx
  tegel/src/components/tabs/navigation-tabs/navigation-tabs.stories.tsx
  tegel/src/stories/Migration/Migration.stories.mdx
Labels: 🪲 bug

#938 fix(checkbox): added a name to the default slot
  tegel/src/components/checkbox/sdds-checkbox.stories.tsx
  tegel/src/components/checkbox/sdds-checkbox.tsx
Labels: 🪲 bug

#941 fix(slider): removing old null checks
  tegel/src/components/slider/readme.md
  tegel/src/components/slider/slider.tsx
Labels: 🪲 bug

#942 fix(stepper): added a name to the default slot
  tegel/src/components/stepper/sdds-stepper.stories.ts
  tegel/src/components/stepper/stepper-item/sdds-stepper-item.tsx
Labels: 🪲 bug

#946 chore: release 0.0.51
  tegel/package.json
Labels: 🧱 @scania/tegel

#945 fix(breadcrumb): removed default slot
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/sdds-breadcrumb-link.scss
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/sdds-breadcrumb-link.tsx
  tegel/src/components/breadcrumb/sdds-breadcrumb.stories.tsx
Labels: 🪲 bug

#951 fix(banner & footer): update link prop
  tegel/src/components/banner/sdds-banner.tsx
  tegel/src/components/footer/webcomponent/sdds-footer-link/readme.md
  tegel/src/components/footer/webcomponent/sdds-footer-link/sdds-footer-link.tsx
  tegel/src/components/footer/webcomponent/sdds-footer.stories.tsx
Labels: 🪲 bug

#949 fix(stepper): added correct border styling on native label in dark mode
  tegel/src/components/stepper/sdds-stepper.stories.ts
  tegel/src/components/stepper/stepper.scss
Labels: 🪲 bug, :dark_sunglasses: Mode

#948 fix(toggle): correct label color in light mode
  tegel/src/components/toggle/toggle-vars.scss
Labels: :dark_sunglasses: Mode

#957 fix(button): added correct color to focused button with icon in darkmode
  tegel/src/components/button/button-vars.scss
Labels: 🪲 bug

#961 fix(dropdown): correct disabled background color vars
  tegel/src/components/dropdown/dropdown-vars.scss
Labels: 🪲 bug

#959 feat(banner): aligned banner with toast on slots vs props
  tegel/src/components/banner/readme.md
  tegel/src/components/banner/sdds-banner.scss
  tegel/src/components/banner/sdds-banner.stories.tsx
  tegel/src/components/banner/sdds-banner.tsx
  tegel/src/components/link/readme.md
Labels: 🚀 improvement

#953 fix(tabs): fix text color in inline and nav tabs
  tegel/src/components/tabs/inline-tabs/inline-tabs-button/sdds-inline-tabs-button.scss
  tegel/src/components/tabs/inline-tabs/inline-tabs-link/sdds-inline-tabs-link.scss
  tegel/src/components/tabs/inline-tabs/inline-tabs-vars.scss
  tegel/src/components/tabs/navigation-tabs/navigation-tabs-vars.scss
Labels: :dark_sunglasses: mode

#954 fix(header): dark/light mode colors regression
  tegel/src/components/header/header-vars.scss
  tegel/src/components/header/header.scss
Labels: 🔧 component, 🧑‍🎨 design, 🧱 @scania/tegel, :dark_sunglasses: mode

#974 fix(cross-icon): improved svg file from figma
  components/src/components/icon/iconsArray.js
  icons/src/svg/cross.svg
  tegel/src/components/icon/iconsArray.js
Labels: 🚀 improvement, 🧱 @scania/tegel

#962 fix: set default mode variant color and bgcolor
  tegel/src/global/global.scss
Labels: 🧱 @scania/tegel, :dark_sunglasses: mode

#968 fix(checkbox): correct color for focused and hover states
  tegel/src/components/checkbox/checkbox-vars.scss
  tegel/src/components/checkbox/checkbox.scss
  tegel/src/components/checkbox/sdds-checkbox.scss
Labels: 🧱 @scania/tegel, :dark_sunglasses: mode

#934 fix(card): introduce correct colors for icon
  tegel/src/components/card/card-vars.scss
  tegel/src/components/card/card.scss
  tegel/src/components/card/sdds-card.scss
Labels: 🧱 @scania/tegel, :dark_sunglasses: mode

#973 fix(side menu): selected state background color for header side menu
  tegel/src/components/header/header-all.stories.tsx
  tegel/src/components/header/header-vars.scss
  tegel/src/components/header/header.scss
  tegel/src/components/side-menu/side-menu-vars.scss
  tegel/src/components/side-menu/side-menu.scss
  tegel/src/components/side-menu/side-menu.stories.tsx
Labels: :dark_sunglasses: mode

#980 fix(modal): added null check to avoid empty selector
  components/src/components/modal/modal.tsx
Labels: 🪲 bug, 📦 @scania/components

#982 fix(link): colors update
  tegel/src/components/link/link-vars.scss
  tegel/src/components/link/link.scss
  tegel/src/components/link/sdds-link.scss
  tegel/src/global/global.scss
Labels: 🧱 @scania/tegel, :dark_sunglasses: mode

#983 fix(accordion): dark/light regression color update
  tegel/src/components/accordion/accordion-item/accordion-item.scss
  tegel/src/components/accordion/accordion-vars.scss
Labels: 🧱 @scania/tegel, :dark_sunglasses: mode

#981 feat(dropdown-filter): open direction prop
  components/src/components.d.ts
  components/src/components/dropdown/dropdown-filter.tsx
  components/src/components/dropdown/dropdown.stories.js
  components/src/components/modal/readme.md
Labels: 📦 @scania/components

#986 chore: release 4.10.8
  components/package-lock.json
  components/package.json
Labels: 📦 @scania/components

#984 feat(accordion): cancelable events
  tegel/src/components/accordion/accordion-item/accordion-item.tsx
  tegel/src/components/accordion/accordion-item/readme.md
  tegel/src/components/accordion/accordion.stories.tsx
Labels: 🧱 @scania/tegel

#985 feat(toast): cancelable event
  tegel/src/components/toast/sdds-toast.stories.tsx
  tegel/src/components/toast/sdds-toast.tsx
Labels: 🧱 @scania/tegel

#988 fix(radio-button): cancelable events
  tegel/src/components/accordion/accordion-item/readme.md
  tegel/src/components/radio-button/radio-button-component.stories.tsx
  tegel/src/components/radio-button/radio-button.tsx
Labels: 🧱 @scania/tegel

#994 fix(card): cancelable events
  tegel/src/components/card/sdds-card.tsx
Labels: 🧱 @scania/tegel

#995 fix(slider): set change event to not be cancelable
  tegel/src/components/slider/slider.stories.tsx
  tegel/src/components/slider/slider.tsx
Labels: 🧱 @scania/tegel

#996 fix(dropdown): cancelable events
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.tsx
  tegel/src/components/dropdown/dropdown.tsx
  tegel/src/components/dropdown/readme.md
Labels: 🧱 @scania/tegel
