Repository scania-digital-design-system/sdds, pull requests merged in 2023-05, with the labels that each got.

#1034 docs(migration docs): updated migration docs
  tegel/src/stories/Migration/Migration.stories.mdx
Labels: 📘 storybook

#1018 feat(header,side-menu): fix dark mode color issues
  tegel/src/components/header/header-vars.scss
  tegel/src/components/header/webcomponent/header-dropdown-list-item/header-dropdown-list-item.scss
  tegel/src/components/header/webcomponent/header-hamburger/header-hamburger.scss
  tegel/src/components/header/webcomponent/header-item/header-item-global.scss
  tegel/src/components/header/webcomponent/header-item/header-item.scss
  tegel/src/components/header/webcomponent/header-launcher-grid-item/header-launcher-grid-item.scss
  tegel/src/components/side-menu/side-menu-vars.scss
  tegel/src/components/side-menu/webcomponent/side-menu-dropdown-list-item/side-menu-dropdown-list-item.scss
  tegel/src/components/side-menu/webcomponent/side-menu-dropdown/side-menu-dropdown.scss
  tegel/src/components/side-menu/webcomponent/side-menu-item/side-menu-item.scss
Labels: :dark_sunglasses: mode

#1035 build(sdds): updated build scripts in package.json
  components/src/components/stepper/stepper.stories.js
  package.json
Labels: 👷🏻‍♀️ build, 📦 @scania/components

#1037 fix(modal): increasing max height to 85vh
  components/src/components/modal/_modal-core.scss
Labels: 🔧 component, 📦 @scania/components

#1036 fix(slider): keyboard nav snapping
  components/src/components/slider/slider.tsx
Labels: 🪲 bug

#1043 docs(readme): updated readme for theme to only include current state
  theme/readme.md
Labels: 📚 docs

#1044 docs(web links): updated web links pointing to digitaldesign -> tegel
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yaml
  .github/ISSUE_TEMPLATE/REQUEST_HELP.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  MIGRATION.md
  components/readme.md
  components/src/components/popover-canvas/documentation.txt
  components/src/components/popover-canvas/popover-canvas.stories.js
  components/src/components/popover-menu/documentation.txt
  components/src/components/popover-menu/popover-menu.stories.js
  sandbox/HTML/README.md
  sandbox/angular/src/app/components/home/home.component.html
  sandbox/angular/src/app/components/main/main.component.html
  sandbox/angular/src/main.ts
  sandbox/react/README.md
  sandbox/react/src/components/home/Home.js
  sandbox/react/src/index.js
  sandbox/vue/README.md
  sandbox/vue/src/components/Main.vue
  theme/core/colour/README.md
  theme/core/grid/README.md
  theme/core/typography/README.md
Labels: 📚 docs, 📦 @scania/components

#1045 docs(storybook): minor cleanup
  components/.storybook/preview.js
  components/package-lock.json
  components/package.json
  components/src/components/accordion/accordion.stories.js
  components/src/components/dropdown/dropdown.stories.js
Labels: 📘 storybook
