Repository scania-digital-design-system/sdds, pull requests merged in 2023-04, with the labels that each got.

#997 fix(data-table): made all events non-cancelable
  tegel/src/components/data-table/table-body-row-expandable/table-body-row-expandable.tsx
  tegel/src/components/data-table/table-body-row/table-body-row.tsx
  tegel/src/components/data-table/table-body/table-body.tsx
  tegel/src/components/data-table/table-footer/table-footer.tsx
  tegel/src/components/data-table/table-header-cell/table-header-cell.tsx
  tegel/src/components/data-table/table-header/table-header.tsx
  tegel/src/components/data-table/table-toolbar/table-toolbar.tsx
  tegel/src/components/data-table/table/table.tsx
Labels: 🧱 @scania/tegel

#999 fix(dropdown): add openDirection prop to filter version
  tegel/src/components/dropdown/dropdown-filter/dropdown-filter.tsx
  tegel/src/components/dropdown/dropdown-filter/readme.md
Labels: 🧱 @scania/tegel

#1000 fix(dropdown): refactor scss rule to display label-outside color
  tegel/src/components/dropdown/dropdown.scss
Labels: 🧱 @scania/tegel, :dark_sunglasses: mode

#1005 fix(slider): input field border radius
  tegel/src/components/slider/slider.scss
Labels: 🪲 bug, 🧱 @scania/tegel

#990 feat(utils): appendHiddenInput
  tegel/src/utils/utils.ts
Labels: 🧱 @scania/tegel

#1002 feat(tabs): cancelable events
  tegel/src/components/tabs/folder-tabs/folder-tabs.stories.tsx
  tegel/src/components/tabs/folder-tabs/folder-tabs.tsx
  tegel/src/components/tabs/inline-tabs/inline-tabs.stories.tsx
  tegel/src/components/tabs/inline-tabs/inline-tabs.tsx
  tegel/src/components/tabs/navigation-tabs/navigation-tabs.stories.tsx
  tegel/src/components/tabs/navigation-tabs/navigation-tabs.tsx
Labels: 🧱 @scania/tegel

#998 fix(global): bg and color - default to light mode
  tegel/src/components/data-table/data-table-vars.scss
  tegel/src/global/global.scss
Labels: 🪲 bug, :dark_sunglasses: mode

#1007 fix(breadcrumb): remove link props and add default slot
  tegel/src/components/breadcrumb/sdds-breadcrumb-item/readme.md
  tegel/src/components/breadcrumb/sdds-breadcrumb-item/sdds-breadcrumb-item.scss
  tegel/src/components/breadcrumb/sdds-breadcrumb-item/sdds-breadcrumb-item.tsx
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/readme.md
  tegel/src/components/breadcrumb/sdds-breadcrumb-link/sdds-breadcrumb-link.tsx
  tegel/src/components/breadcrumb/sdds-breadcrumb.stories.tsx
Labels: 🧱 @scania/tegel

#1008 fix(footer): renamed files and created a footer-item instead of link
  tegel/src/components/footer/webcomponent/sdds-footer-group/readme.md
  tegel/src/components/footer/webcomponent/sdds-footer-group/sdds-footer-group.scss
  tegel/src/components/footer/webcomponent/sdds-footer-group/sdds-footer-group.tsx
  tegel/src/components/footer/webcomponent/sdds-footer-item/readme.md
  tegel/src/components/footer/webcomponent/sdds-footer-item/sdds-footer-item.scss
  tegel/src/components/footer/webcomponent/sdds-footer-item/sdds-footer-item.tsx
  tegel/src/components/footer/webcomponent/sdds-footer-link-group/sdds-footer-link-group.tsx
  tegel/src/components/footer/webcomponent/sdds-footer-link/readme.md
  tegel/src/components/footer/webcomponent/sdds-footer-link/sdds-footer-link.tsx
  tegel/src/components/footer/webcomponent/sdds-footer.scss
  tegel/src/components/footer/webcomponent/sdds-footer.stories.tsx
  tegel/src/components/footer/webcomponent/sdds-footer.tsx
  tegel/src/components/icon/readme.md
Labels: 🧱 @scania/tegel

#1006 fix(slider): refactor slider label position
  tegel/src/components/slider/slider.scss
  tegel/src/components/slider/slider.tsx
Labels: 🧱 @scania/tegel

#1011 test(table): added a "mock" for crypto and made bodyData mutable
  tegel/src/components/data-table/table-body/table-body.tsx
  tegel/src/components/data-table/table.filtering.spec.tsx
  tegel/src/components/data-table/table.spec.tsx
Labels: 🧪 test

#1012 feat(datetime): removed shadowDOM
  tegel/src/components/datetime/datetime.scss
  tegel/src/components/datetime/datetime.tsx
Labels: 🧱 @scania/tegel

#1001 fix(stepper): propagate prop updates & CSS changes
  tegel/src/components/stepper/readme.md
  tegel/src/components/stepper/sdds-stepper.scss
  tegel/src/components/stepper/sdds-stepper.stories.ts
  tegel/src/components/stepper/sdds-stepper.tsx
  tegel/src/components/stepper/stepper-item/readme.md
  tegel/src/components/stepper/stepper-item/sdds-stepper-item.scss
  tegel/src/components/stepper/stepper-item/sdds-stepper-item.tsx
Labels: 🧱 @scania/tegel

#1013 fix(slider): snap to ticks & undefined
  components/src/components/slider/slider.tsx
  tegel/src/components/slider/readme.md
  tegel/src/components/slider/slider.stories.tsx
  tegel/src/components/slider/slider.tsx
Labels: 🪲 bug, 🔧 component, 📦 @scania/components, 🧱 @scania/tegel

#1017 docs(navigation-tabs): anchor on navigation tabs
  tegel/src/components/tabs/navigation-tabs/navigation-tabs.stories.tsx
Labels: 📘 storybook

#1022 chore: tegel 0.0.6
  tegel/package-lock.json
  tegel/package.json
Labels: 🧱 @scania/tegel

#1023 build(config): removed sourcemaps and package.json from build
  tegel/stencil.config.ts
  tegel/tsconfig.json
Labels: 👷🏻‍♀️ build

#1027 docs(readme): small updates to the tegel readme
  tegel/readme.md
Labels: 📚 docs

#1028 build(npm version): bumped npm version to 0.0.7
  tegel/package.json
Labels: 👷🏻‍♀️ build

#1030 fix(checkbox,radio): fixed multiple lines of label text layout
  components/src/components/checkbox/checkbox.scss
  components/src/components/radio-button/radio-button.scss
  tegel/src/components/checkbox/sdds-checkbox.scss
  tegel/src/components/radio-button/radio-button-component.scss
Labels: 🪲 bug

#1032 chore: components 4.10.9
  components/package-lock.json
  components/package.json
Labels: 📦 @scania/components

#1029 fix(header-title): added overflow:hidden
  tegel/src/components/header/webcomponent/header-brand-symbol/header-brand-symbol.scss
  tegel/src/components/header/webcomponent/header-title/header-title.scss
  tegel/src/patterns-stories/navigation/navigation-fewitems.stories.tsx
  tegel/src/patterns-stories/navigation/navigation-manyitems.stories.tsx
  tegel/src/patterns-stories/navigation/navigation-user-menu.stories.tsx
Labels: 🪲 bug

#1025 feat(data table): event refactoring and removal of props
  tegel/src/components/data-table/table-body-cell/table-body-cell.tsx
  tegel/src/components/data-table/table-body/readme.md
  tegel/src/components/data-table/table-body/table-body.tsx
  tegel/src/components/data-table/table-component-event-listeners.stories.tsx
  tegel/src/components/data-table/table-component-filtering.stories.tsx
  tegel/src/components/data-table/table-component-pagination.stories.tsx
  tegel/src/components/data-table/table-component-sorting.stories.tsx
  tegel/src/components/data-table/table-footer/readme.md
  tegel/src/components/data-table/table-footer/table-footer.tsx
  tegel/src/components/data-table/table-header-cell/readme.md
  tegel/src/components/data-table/table-header-cell/table-header-cell.tsx
  tegel/src/components/data-table/table-toolbar/readme.md
  tegel/src/components/data-table/table-toolbar/table-toolbar.tsx
  tegel/src/components/icon/readme.md
  tegel/src/stories/Migration/Migration.stories.mdx
Labels: 🚨 breaking, 🧱 @scania/tegel

#1026 feat(side-menu): make the collapse event cancelable
  tegel/src/components/side-menu/webcomponent/readme.md
  tegel/src/components/side-menu/webcomponent/side-menu-collapse-button/readme.md
  tegel/src/components/side-menu/webcomponent/side-menu-collapse-button/side-menu-collapse-button.tsx
  tegel/src/components/side-menu/webcomponent/side-menu-dropdown-list-item/side-menu-dropdown-list-item.tsx
  tegel/src/components/side-menu/webcomponent/side-menu-dropdown-list/side-menu-dropdown-list.tsx
  tegel/src/components/side-menu/webcomponent/side-menu-dropdown/side-menu-dropdown.tsx
  tegel/src/components/side-menu/webcomponent/side-menu-item/side-menu-item.tsx
  tegel/src/components/side-menu/webcomponent/side-menu-webcomponent.stories.tsx
  tegel/src/components/side-menu/webcomponent/side-menu.tsx
Labels: 🧱 @scania/tegel

#1031 feat(native components): remove native components
  tegel/native-components-DEPRECATED/banner.scss
  tegel/native-components-DEPRECATED/block-native.scss
  tegel/native-components-DEPRECATED/breadcrumb.scss
  tegel/native-components-DEPRECATED/card.scss
  tegel/native-components-DEPRECATED/checkbox.scss
  tegel/native-components-DEPRECATED/chip.scss
  tegel/native-components-DEPRECATED/divider.scss
  tegel/native-components-DEPRECATED/footer.scss
  tegel/native-components-DEPRECATED/header.scss
  tegel/native-components-DEPRECATED/link.scss
  tegel/native-components-DEPRECATED/message.scss
  tegel/native-components-DEPRECATED/radio-button.scss
  tegel/native-components-DEPRECATED/side-menu.scss
  tegel/native-components-DEPRECATED/stepper.scss
  tegel/native-components-DEPRECATED/toast.scss
  tegel/native-components-DEPRECATED/toggle.scss
  tegel/src/components/checkbox/readme.md
  tegel/src/components/chip/chip.stories.tsx
  tegel/src/components/data-table/table-body-row/readme.md
  tegel/src/components/data-table/table-body-row/table-body-row.scss
  tegel/src/components/data-table/table-body-row/table-body-row.tsx
  tegel/src/components/data-table/table-body/readme.md
  tegel/src/components/data-table/table-header/readme.md
  tegel/src/components/data-table/table-header/table-header.scss
  tegel/src/components/data-table/table-header/table-header.tsx
  tegel/src/components/dropdown/dropdown-filter/readme.md
  tegel/src/components/dropdown/dropdown-option/dropdown-option.tsx
  tegel/src/components/dropdown/dropdown-option/readme.md
  tegel/src/components/dropdown/dropdown.scss
  tegel/src/components/header/webcomponent/header-component.scss
  tegel/src/components/modal/modal-webcomponent.stories.tsx
  tegel/src/components/spinner/spinner.stories.tsx
  tegel/src/global/global.scss
  tegel/src/stories/Native Components (DEPRECATED)/banner.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/block-native.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/breadcrumb.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/button-native.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/card.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/checkbox.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/chips.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/divider.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/dropdown-native.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/footer.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/header-all.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/header-default.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/header-inline.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/header-search.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/header-toolbar.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/link.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/message.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/modal-native.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/native-table.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/radio-button.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/side-menu.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/stepper.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/toast.stories.tsx
  tegel/src/stories/Native Components (DEPRECATED)/toggle.stories.tsx
  tegel/tsconfig.json
Labels: 🚨 breaking, 🧱 @scania/tegel, 📘 storybook

#1033 fix(components/header): fix footer overlapping old header sidemenu
  components/src/components/header/header.scss
  sandbox/angular/src/app/app-routing.module.ts
  sandbox/angular/src/app/app.component.html
  sandbox/angular/src/app/app.module.ts
  sandbox/angular/src/app/components/header-with-sidemenu/header-with-sidemenu.component.html
  sandbox/angular/src/app/components/header-with-sidemenu/header-with-sidemenu.component.scss
  sandbox/angular/src/app/components/header-with-sidemenu/header-with-sidemenu.component.ts
  sandbox/angular/src/app/components/short/short.component.html
  sandbox/angular/src/app/components/short/short.component.scss
  sandbox/angular/src/app/components/short/short.component.ts
Labels: 🪲 bug
